<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obdurotech.projectcentral">

    <permission
        android:name="com.assignments.sandeshashoknaik.assignment9.ASSET_ACCESS"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".AddNewProject" />
        <activity
            android:name=".ProjectHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ReminderAdapter" />
        <activity android:name=".ReminderDetail" />
        <activity android:name=".AddNewReminder" />
        <activity android:name=".ReminderHolder"/>
        <activity
            android:name=".MediaHome"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>